daySequence2/
dayTest/
dayTrain/
nightSequence1/
nightSequence2/
nightTrain/
sample-dayClip6/
sample-nightClip1/
tf_env/
.mypy_cache/
saved_model/
yolo_model.h5
yolo_model.keras
checkpoints/
checkpoint3/
__pycache__/
result/
